pandas==2.2.0
scikit-learn==1.4.0
datasets>=3.4.1
pyyaml==6.0.1
matplotlib==3.8.2
seaborn==0.13.2
unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git
trl>=0.18.2
peft==0.8.2
accelerate>=0.34.1
bitsandbytes>=0.45.5,!=0.46.0,!=0.48.0